@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <canvas id="canvas" width="600" height="480">
        Não suportado
    </canvas>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/css/StylePong.css" rel="stylesheet" />
<script src="~/js/JavaScriptPong.js"></script>